@font-face {
    font-family: 'SansSerifBookFLF';
    src: url('SansSerifBookFLF.woff2') format('woff2'),
        url('SansSerifBookFLF.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

