/* Default CSS */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
span,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    outline: none !important;
}

input {
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    outline: none;
}

.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: none !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.custom_container {
    max-width: 1256px;
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
    height: auto;

}